body{
  background-color: #707070;
}

.Corpo {
  margin: 25px;
}

@media only screen and (min-width: 700px){
  .Corpo {
    margin-right: 35%;
    margin-left: 35%;
  }
  
}

.Title {
  background-color: #3F3F3F;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.Currency {
  font-size: 15px;
  padding: 3%;
  display: inline-flex;
}

.InputElements{
  padding: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.Footer {
  background-color: #3F3F3F;
  color: #FFDF6C;
  bottom: 0;
  padding: 10%;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

input {
  display: flex;
  padding: 3px;
  font-size: 18px;
  border-radius: 15px;
}
span {
  margin: 5px;
}

.ResultsOutput {
  background-color:#3F3F3F;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFDF6C;
  border: 1px solid #FFDF6C;
  width: 45%;
  font-size: 15px;
  cursor: cell;
}

.Button {
  display: flex;
  justify-content: center;
}

